name: Deploy to Yandex Cloud Functions

on:
  push:
    branches: [master, main]
  pull_request_target:
    types: [closed]
    branches: [master, main]


jobs:
  deploy:
    if: |
      github.event_name == 'push' || 
      (github.event_name == 'pull_request_target' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Debug event
      run: |
        echo "Event type: ${{ github.event_name }}"
        echo "Merged: ${{ github.event.pull_request.merged }}"
        echo "Ref: ${{ github.ref }}"
    - name: Deploy Function
      id: sls-func
      uses: yc-actions/yc-sls-function@v2
      with:
        yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
        folder-id: ${{ secrets.FOLDER_ID }}
        function-name: 'sumo-bot'
        runtime: 'python312'
        memory: '256Mb'
        entrypoint: 'main.handler'
        service-account: ${{ secrets.SERVICE_ACCOUNT_ID }}
        environment: |
          PRODUCTION_TOKEN=${{ secrets.PRODUCTION_TOKEN }}
          YDB_DATABASE=${{ secrets.YDB_DATABASE }}
          YDB_ENDPOINT=${{ secrets.YDB_ENDPOINT }}
          YDB_SERVICE_ACCOUNT_TOKEN=${{ secrets.YDB_SERVICE_ACCOUNT_TOKEN }}
          YDB_SERVICE_ACCOUNT_TOKEN_ID=${{ secrets.YDB_SERVICE_ACCOUNT_TOKEN_ID }}
          FOLDER_ID=${{ secrets.FOLDER_ID }}
          API_KEY=${{ secrets.API_KEY }}
          CLOUD_ENV=1
        include: |
          **/*.py
          **/*.json
          **/*.txt
        exclude: |
          **/*.ts
          .github/**
          tests/**
          venv/**
          **/*.ts
          .gitignore
          **/*.md
          LICENSE
